language: python

services:
  - docker

before_install:
- pip install DockerBuildManagement
- dbm -start

script:
- dbm -test

jobs:
  include:
    - name: test
      script: 
        - dbm -test
      after_script:
        - dbm -stop
    - name: documentation
      script:
        - dbm -publish documentation
      if: branch = master

