<?xml version="1.0" encoding="utf-8"?>
<Project>
    <ItemGroup>
        <ProjectReferences Include="**/FluentDbTools.*.csproj" />
    </ItemGroup>
    <Target Name="build">
        <MSBuild Projects="@(ProjectReferences)" Targets="Build" />
    </Target>
    <Target Name="restore">
        <MSBuild Projects="@(ProjectReferences)" Targets="Restore" />
    </Target>
    <Target Name="pack">
        <MSBuild Projects="@(ProjectReferences)" Targets="Pack" />
    </Target>
</Project>